<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @page.name %>
</p>

<p>
  <b>Descr:</b>
  <%= @page.descr %>
</p>

<p>
  <b>User:</b>
  <%= @page.user_id %>
</p>

<p>
  <b>Created at:</b>
  <%= @page.created_at %>
</p>

<p>
  <b>Modified at:</b>
  <%= @page.modified_at %>
</p>

<p>
  <b>Category:</b>
  <%= @page.category_id %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
