
<div class="padding">
  <h1>Meet the Team</h1>

  <div class="team-member">
    <%= image_tag 'piousbox.jpg', :class => 'profile-image' %>
    <h4>Victor Pudeyev</h4>
    <%= image_tag 'contact.png' %><br />
    <%= link_to 'Resume', 'http://manydemons.com/archive/2011/hunter/201107.pudeyev-resume.pdf' %>
    <br />
    <a href="http://piousbx.com">http://piousbox.com</a>
    <div class="bio">
      <p />Victor is a developer based in San Francisco, CA. He codes in the following languages: Ruby, PHP, Python, & Java.
      <p />Besides hands-on experience architecting and developing web applications, Victor plays managerial and business roles in several projects.
    </div>
  </div>

  <div class="team-member">
    <%= image_tag 'piousbox.jpg', :class => 'profile-image' %>
    <h4>Gokul Krishna</h4>
    <%= image_tag 'contact.png' %><br />
    <%= link_to 'Resume', 'http://manydemons.com/archive/2011/hunter/201107.pudeyev-resume.pdf' %>
    <div class="bio">
      <p />Victor is a developer based in San Francisco, CA. He codes in the following languages: Ruby, PHP, Python, & Java.
      <p />Besides hands-on experience architecting and developing web applications, Victor plays managerial and business roles in several projects.
    </div>
  </div>

  <div class="team-member">
    <%= image_tag 'no-image.jpg', :class => 'profile-image' %>
    <h4>Zoran Stefanovski</h4>
    <%= image_tag 'contact.png' %><br />
    <%= link_to 'About', '' %>
    <div class="bio">
      <p>Graphic Designer (logos)</p>
    </div>
  </div>

  <div class="team-member">
    <%= image_tag 'no-image.jpg', :class => 'profile-image' %>
    <h4>Hassan Tariq</h4>
    <%= image_tag 'contact.png' %><br />
    <%= link_to 'About', '' %>
    <div class="bio">
      <p>Video Producer</p>
    </div>
  </div>

  <div class="team-member">
    <%= image_tag 'no-image.jpg', :class => 'profile-image' %>
    <h4>Kyrylo Vorotyntsev</h4>
    <%= image_tag 'contact.png' %><br />
    <%= link_to 'About', '' %>
    <div class="bio">
      <p>Writer / editor</p>
    </div>
  </div>

</div>